# --- Bot Configuration ---
BOT_TOKEN=5535093519:AAHinynvglSjiUIEAB6Hll_tzbTb6nPXW_0

ADMINS=5148018230,5624622710
LOG_CHANNEL=-1003881083522

# --- Database Configuration ---
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=Cluster0
COLLECTION_NAME=Files

# --- MTProto Indexing (Optional - uses defaults if empty) ---
APP_ID=22310039
APP_HASH=34553c552966bc2696a38b4088fe8adf

# --- API Keys (Optional) ---
TMDB_API_KEY=your_tmdb_api_key
OMDB_API_KEY=your_omdb_api_key

# --- Server Settings ---
PORT=10001
LOG_LEVEL=-1003881083522 # debug, info, warn, error

# --- Feature Toggles ---
EMOJI_MODE=true
REACTIONS=👍,❤️,🔥,🥰,👏,😁,🤔,🤯
